.Button {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    font-weight: bold;
    border: 1px solid lightgray;
    font-weight: bold;
    border-radius: 10px;
}

.Button:hover {
    background-color: lightgray;
}

.Success {
    color: dimgrey;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}